<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authority.mapper.ModuleMapper">

    <!-- 查询所有可授权资源 -->
    <select id="queryAllModules" resultType="com.authority.entity.ZTree">
      select id,parent_id as pId,module_name as name
      from module
  </select>
</mapper>
